footer {
    @include flex (row, nowrap, center, center);
    background-color: $lightgreen;
    height: 40px;
    width: 100%;
    font-size: .7rem;
    @include position(absolute, null, 0, 0, 0);
}
