.hide {
    display: none;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 20px solid orange;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

