html {
    font-size: 125%;
}

.btn, 
input {
    &:focus {
        box-shadow: 3px -3px 15px $darkgreen, -3px 3px 15px $darkgreen;
    }
    
}

.flex-center {
    @include flex(column, nowrap, center, center);
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
.hide {
    display: none;
}


body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    font-family: $font-primary;
    @include flex(column, nowrap, center, center);
    background-image: url(./../assets/bg-pattern.png);
}

p,
h1,
h2,
h3 {
    margin: 0;
}

h1,
h2,
h3,
button {
    font-family: $font-secondary;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 5rem;
    margin-top: 20px;
}

h1,
button {
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: $darkgreen;
    transition: all 0.3s; 
    &:hover {
        color: $watermelon;
    }
}

button {
    border: 5px solid $watermelon;
    border-radius: 50px;
    padding: 10px 30px;
    background: $watermelon;
    color: #fafafa;
    min-width: 200px;
    font-size: 1.5rem;
    transition: all 0.3s;
    &:hover {
        border: 5px solid $darkgreen;
    }
}   
