html {
    font-size: 125%;
}

.btn, 
input {
    &:focus {
        box-shadow: 3px -3px 15px $darkpurple, -3px 3px 15px $darkpurple;
    }
    
}

.flex-center {
    @include flex(column, nowrap, center, center);
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    font-family: $font-primary;
    color: $black;
    @include flex(column, nowrap, center, center);
    background-image: url(./../assets/bg-pattern.png);
}

p,
ol {
    letter-spacing: .01rem
}

p,
h1,
h2,
h3 {
    margin: 0;
    display: inline-block;
}

h1,
h2,
h3,
button {
    font-family: $font-secondary;
}

h1,
button,
h2 {
    text-transform: uppercase;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 5.5rem;
    margin-top: -4.2rem;
    margin-bottom: 2rem;
    background-color: $lightpurple;
    padding: 0 5%;
    @include box-shadow(12px, 12px, $lightblue);
    @include text-shadow(5px, 3px, $darkpurple);
}

h2 {
    font-size: 2.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: $watermelon;
}

h3 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: 10px solid $lightblue;
    padding: 10px 30px;
    background: $watermelon;
    color: #fafafa;
    min-width: 200px;
    font-size: 1.5rem;
    transition: all 0.3s;
    &:hover {
        border: 10px solid $darkpurple;
    }
}   

.intro-screen,
.game-play-screen,
.round-result-screen,
.final-result-screen {
  background-color: #fff;
  @include box-shadow (12px, 12px, $lightblue);
}