.intro-screen {
  @include flex(column, nowrap, center, center);
  margin: 100px auto;
  padding: 0 30px 40px;
  p {
    margin-left: 20px;
    &:first-of-type {
      margin-bottom: 10px;
    } 
  }
  .how-to-container {
    @include flex(row, nowrap, flex-start, center);
    .how-to-txt {
      width: 70%;
    }
    .how-to-img {
      width: 50%;
      margin-right: -8rem;
      
    }
  }
  h1 {
    text-align: center;
    font-size: 6rem;
    margin-top: -4.2rem;
    margin-bottom: -.5rem;
    background-color: $lightpurple;
    padding: 0 5%;
    @include box-shadow(12px, 12px, $lightblue);
    @include text-shadow(5px, 3px, $darkpurple);
    @include media(1350px) {
      margin-bottom: 1rem;
    }
     @include media(1150px) {
      margin-bottom: 2rem;
    }
  }
  h2 {
    font-size: 1.5rem;
    padding: 2px 25px 2px 35px;
    margin: 20px 0 12px -40px;
    display: inline-block;
  }

  ol {
    margin-top: 0;
    li {
      list-style: decimal;
      color: $black;
      font-size: 1rem;
      span {
        // background-color: $lightblue;
        font-weight: 600;
      }
    }
  }

  button {
    margin-top: -.5rem;
    margin-bottom: -4.2rem;
    @include media(1400px) {
      margin-top: 1rem;
    }
     @include media(1150px) {
      margin-top: 2rem;
    }
  }
}