.intro-screen {
  @include flex(column, nowrap, center, center);
  margin: 100px auto;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  p {
    margin-left: 20px;
    &:first-of-type {
      margin-bottom: 10px;
    }
    
  }
  img {
    width: 40%;
  }
  .how-to-container {
    @include flex(row, nowrap, flex-start, center);
    .how-to {
      width: 60%;
    }
  }
  h2 {
    font-size: 1.5rem;
    padding: 2px 25px 2px 35px;
    margin: 20px 0 12px -40px;
    display: inline-block;
  }

  ol {
    margin-top: 0;
    li {
    list-style: decimal;
    color: $black;
    font-size: 1rem;
  
    }
  }

  button {
    margin-bottom: -4.2rem;
    margin-top: 2rem;
  }
}