
// VARIABLES
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Love Ya Like A Sister', cursive;

$darkgreen: #007785;
$lightgreen: #d6e6d5;
$watermelon: #ff8170;
$grey: #535353;
$black: #262626;
$correct: #2E8B57;

// MIXINS
@mixin flex($direction, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
}

@mixin position ($pos, $top, $right, $bottom, $left) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}