/* General styling */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

.btn:focus,
input:focus {
  -webkit-box-shadow: 3px -3px 15px #3f1d93, -3px 3px 15px #3f1d93;
          box-shadow: 3px -3px 15px #3f1d93, -3px 3px 15px #3f1d93;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./../assets/bg-pattern.png);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
button {
  font-family: "Francois One", sans-serif;
}

h1,
button,
h2 {
  text-transform: uppercase;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 5.5rem;
  margin-top: -5rem;
  margin-bottom: 2rem;
  background-color: #a4a4ff;
  padding: 0 5%;
  -webkit-box-shadow: 12px 12px #a0e7fe;
          box-shadow: 12px 12px #a0e7fe;
  text-shadow: 5px 3px #3f1d93;
}

h2 {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #ff8170;
}

h3 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #262626;
  background-color: #a4a4ff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #ff8170;
}

button {
  border: 5px solid #ff8170;
  padding: 10px 30px;
  background: #ff8170;
  color: #fafafa;
  min-width: 200px;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  border: 5px solid #3f1d93;
}

.intro-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

.intro-screen p {
  margin-left: 20px;
}

.intro-screen p:first-of-type {
  margin-bottom: 10px;
}

.intro-screen img {
  width: 40%;
}

.intro-screen .how-to-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-screen .how-to-container .how-to {
  width: 60%;
}

.intro-screen h2 {
  margin-top: 0;
}

.intro-screen li {
  list-style: decimal;
  color: #262626;
  font-size: 1rem;
}

.intro-screen,
.game-play-screen,
.round-result-screen,
.final-result-screen {
  background-color: #fff;
  -webkit-box-shadow: 12px 12px #a0e7fe;
          box-shadow: 12px 12px #a0e7fe;
}

.countdown-screen {
  background-color: #ff8170;
  z-index: 1;
}

.game-play-screen {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  text-align: center;
}

.game-play-screen .game-field {
  width: 100%;
}

.game-play-screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-play-screen .user-guesses {
  position: absolute;
  top: 20px;
  left: 20px;
}

.game-play-screen .play-timer {
  position: absolute;
  top: 20px;
  right: 20px;
}

.game-play-screen p span {
  font-size: 2rem;
  color: #2E8B57;
}

.game-play-screen label {
  color: #3f1d93;
}

.game-play-screen input {
  border: 0;
  color: #262626;
  background: #a0e7fe;
  padding: 10px;
  margin-top: 10px;
  border: 2px dotted #3f1d93;
}

.round-result-screen p {
  font-size: 2rem;
}

.round-result-screen p:last-of-type {
  margin-bottom: 20px;
}

.final-result-screen p {
  font-size: 2rem;
  margin-bottom: 20px;
}

.countdown-screen,
.round-result-screen,
.final-result-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #262626;
  font-size: 2.8rem;
  color: #FAFAFA;
}

li {
  font-size: 1.3rem;
  color: #ff8170;
  list-style: none;
  text-align-last: left;
}

li:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  margin-right: .4rem;
  font-weight: 900;
}

li.correct {
  color: #2E8B57;
}

li.correct:before {
  content: "\f00c";
}

li.wrong:before {
  content: "\f00d";
}

.hide {
  display: none;
}

.hidden {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a0e7fe;
  height: 42px;
  width: 100%;
  font-size: .7rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* IMAGE CREDITS
Wizard image by GraphicMama-team: https://pixabay.com/users/graphicmama-team-2641041/ 
Background pattern edited from www.toptal.com/designers/subtlepatterns/ */
/*# sourceMappingURL=style.css.map */